<script>
    function subMarcaDropDownChange() {
        var _idMarca = $("#ddlMarcas").data("kendoDropDownList").value();
        showLoading();
        $.ajax({
            url: "/Vehiculos/SubMarcas_ReadPorMarca",
            type: "POST",
            data: { idMarca: _idMarca },
            success: function (data) {
                var TramosDropDown = $("#ddlidSubmarcaDisabled").data("kendoDropDownList");
                TramosDropDown.dataSource.data(data);
                hideLoading();
            },
            error: function (xhr, status, error) {
                console.log("EE", error)
                hideLoading();
            }
        });
    }
</script>

<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
    
        <partial name="_create" model="Model" />

    </section>
</div>