@model GuanajuatoAdminUsuarios.Models.Catalogos.Aseguradoras.AseguradoraCreateModel
@{
}

<section class="bg-white rounded">
	<div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-auto pe-0">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto pe-0">
                    <i class="icon-aseguradoras h1 colorPrimary"></i>
                </div>                                                                                                                                                                                  
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Catálogo de aseguradoras</b></h2>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto my-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="CerrarCrearAseguradora()"></button>
                </div>
            </div>            
        </div>
	</div>
	<div class="row">
        <div class="col-12">
            <div class="bg-light py-1"></div>
        </div>
    </div>
	<div class="row">
        <div class="col-12 my-4">
            <h5 class="px-4"><b> Datos de la aseguradora.</b></h5>
            <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
        </div>
    </div>
	<form id="crearAseguradoraForm">
        <div class="row justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12">
                <div id="errorMessages" class="alert alert-danger d-none"></div>
            </div>
            <div class="d-flex justify-content-center col-12 my-3">
            <div class="controlForm my-3 col-12 col-md-6 col-lg-6">
                <span>
                    @(Html.Kendo().TextBoxFor(t => t.NombreAseguradora)
                        .Label(l => l.Content("Nombre de la aseguradora (Obligatorio):"))
                        .Placeholder("Seleccione la Aseguradora")
                        .HtmlAttributes(new { style = "width: 100%", Id = "nombre", required = "required" })
                    )
                    @Html.ValidationMessageFor(t => t.NombreAseguradora, "", new { @class = "k-form-error k-invalid-msg field-validation-error" })
                </span>
            </div>
            </div>
        </div>
        <div class="row justify-content-between px-4 px-md-4 pt-3 pb-2">
            <input type="hidden" id="estatus" name="Estatus" value="1" />
            
        </div>
    </form>
	<div class="row my-4">
        <div class="col-12 col-md-6 mx-md-auto">
            <div class="row justify-content-around">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                    <button type="button" class="btn btnOutline btn-sm btnClose" data-bs-dismiss="modal" aria-label="Close" onclick="CerrarCrearAseguradora()">
                        <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                    </button>
                </div>
                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <div class="controlButton" onclick="crearAseguradora()">
                        @(Html.Kendo().Button()
                            .Name("crearAseguradoraCommand")
                            .HtmlAttributes(new { @class = "btnPrimary px-3" })
                            .Content("<h5 class=\"m-0\"><b>Guardar</b></h5>"))
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        let form = $("#crearAseguradoraForm");
        form.kendoValidator({
            messages: {
                required: "El campo es obligatorio",
                horaFinGreaterThanHoraInicio: "La hora de finalización debe ser mayor que la hora de inicio."
            },
            rules: {
                required: function (input) {
                    if (input.is("[required]")) {
                        return input.val().trim() !== "";
                    }
                    return true;
                },
                horaFinGreaterThanHoraInicio: function (input) {
                    if (input.is("[name=HoraFin]")) {                        
                        var horaInicio = $("[name=HoraInicio]").val();
                        var horaFin = input.val();
                        return horaFin > horaInicio;
                    }
                    return true;
                }
            },
            highlight: function (element) {
                $(element).addClass("k-invalid"); 
            },
            unhighlight: function (element) {
                $(element).removeClass("k-invalid"); 
            }
        }).data("kendoValidator"); 

        let timePickers = [document.getElementById('horaInicio'), document.getElementById('horaFin')];
        timePickers.forEach(function (timePicker) {
            if (timePicker) {
                timePicker.addEventListener('input', valid5char);
                timePicker.addEventListener('paste', handlePaste);
                timePicker.addEventListener('blur', handleBlur);
            }
        });
        
    });
    
    function CerrarCrearAseguradora(){
        $('#crearAseguradoraModalBody').html('');
        $('#crearAseguradoraModal').modal('hide');
    }

    function crearAseguradora() {
        let form = $("#crearAseguradoraForm");
        
        var validator = form.data("kendoValidator");
        var isValid = validator.validate();
        if (!isValid) {
            form.find("label[for='nombre']").removeClass("k-text-error");
            return;
        }

        let errorMessages = $("#errorMessages");
        errorMessages.empty();
        errorMessages.addClass("d-none");
        showLoading();

        $.ajax({
            url: '@Url.Action("Add", "CatAseguradoras")',
            type: 'POST',
            data: form.serialize(),            
            success: function (result) {
                var grid = $("#AseguradorasGrid").data("kendoGrid");
                grid.dataSource.read();
                $('#crearAseguradoraModalBody').html('');
                $('#crearAseguradoraModal').modal('hide');
                sitteg_success('Se ha actualizado la información');
            }, error: function (xhr) {
                if (xhr.status !== 400) {
                    sitteg_warning("Ocurrió un error al procesar su solicitud.");
                    return;
                }
                
                var result = JSON.parse(xhr.responseText);
                if (result.errors) {
                    result.errors.forEach(function (error) {
                        errorMessages.append("<p>" + error + "</p>");
                    });
                    errorMessages.removeClass("d-none");
                    return;
                }
                
                $("#crearAseguradoraModalBody").html(xhr.responseText);                                
            },
            complete: function() {
                hideLoading();
            }
        });
    }    
</script>
